$white: #fff;
$circle-border: #e1e1e1;
$blue-nav: #008dd4;
$price-blue: #008ed6;
$grey: #999999;
$black: #000000;
$contact_form-color: #15141a;
$cont-a-color: #989898;
$footer-text: #45444a;
$head-background: #09080BE5;
$logo-color: #7a7b7d;
$background-block: #f2f2f2;
$slider-bg: rgba(0, 0, 0, .7);
$owl-border: rgba(255, 255, 255, .5);
$month-border: #e0e0e0;
$contact-bg: #f2f2f2;
$input-text: #ededed;
$input-border: rgba(255,255,255,0.2);
$input-bg: #535353;
$button-border: #46454a;
$overlay-bg: rgba(8.6, 8.2, 10.6, .9);
